@media screen and (min-width:320px) and (max-width:479px) {
    .top_menubox
    {
        padding-left: 150px;
    }
    .main_logo img
    {
        max-width: 125px;
    }
    .login_with_baskit ul
    {
        line-height: 20px;
    }
    .login_with_baskit ul li
    {
        padding: 0px 4px 0px 2px;
    }
    .baskit_containner i
    {
        font-size: 24px;
    }
    .baskit_counter
    {
        width: 15px;
        height: 15px;
        line-height: 15px;
        font-size: 11px;
    }
    .fixed_asked
    {
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 18px;
        bottom: 50px;
    }
    .fixed_button
    {
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 18px;
    }
    .animate_top
    {
        top:50px;
    }
    .animate_bottom
    {
        bottom: 10px;
    }
    .home_about
    {
        padding-top: 50px;
    }
    .main_head_txt
    {
        font-size: 24px;
    }
    .main_subhead
    {
        font-size: 14px;
    }
    .collection_about_brics
    {
        margin:20px 0px;
    }
    .about_basic_txt
    {
        font-size: 14px;
    }
    .login_right_txt
    {
        padding: 15px;
        float: initial;
    }
    .menu_basic_popup
    {
        width: 300px;
        right: -10px;
        top:40px;
    }
}
@media screen and (min-width:480px) and (max-width:767px) {
    .main_head_txt
    {
        font-size: 34px;
    }
    .collection_about_brics
    {
        margin: 20px 0px;
    }
}
@media screen and (min-width:768px) and (max-width:1023px) {
    .top_menubox
    {
        padding-left: 175px;
    }
    .main_logo img {
        max-width: 150px;
        margin-top: 5px;
    }
    .main_heading
    {
        margin-bottom: 30px;
    }
    .tab_display_none
    {
        display: none;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px)
{
    .login_popup_box
    {
        width: 96%;
        margin-top: 50px;
        height: auto;
    }
    .login_lefttxtbox
    {
        width: 100%;
        height: auto;
        padding: 0px 10px;
    }
    .left_block img
    {
        display: none;
    }
    .error_register
    {
        padding: 0px;
    }
    .login_right_txt
    {
        width: 100%;
        height: auto;
    }
    .close_login
    {
        top: -40px;
        right: 0px;
    }
    .testominial_box
    {
        display: none;
    }
    .right_block hr
    {
        margin: 10px 0px;
    }
    .right_block form
    {
        margin-bottom: 0px;
    }
    footer .newsletter-row
    {
        padding: 10px 0px;
    }
    .payment-accept
    {
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    .sign_uptxt
    {
        display: none;
    }
    .newsletter-wrap
    {
        padding:0px 100px 0px 10px;
    }
    .newsletter-wrap button.subscribe
    {
        right: 10px;
        font-weight: normal;
        width: 90px;
        padding: 7px 0px;
    }
    .newsletter-wrap button.subscribe span
    {
        font-weight: normal;
    }
    .co-info
    {
        padding: 10px;
    }
}
@media (max-width: 1023px) and (min-width: 320px) {

}
@media screen and (min-width:1024px) and (max-width:1199px) {
    .order_listbox
    {
        padding: 5px 10px 15px 10px;
    }
    .my_cartbtnbox
    {
        padding-right: 95px;
    }
}
@media screen and (min-width:1200px) and (max-width:1359px) {

}
@media screen and (min-width:1360px) and (max-width:1600px) {

}